@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
    font-family: poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    border-style: solid;
    border-width: 15px;
    border-color: blueviolet;
    min-height: 100vh;
    width: auto;
}

.navhome{
    background-color: rgba(137, 43, 226, 0.294);
    padding: 4px 15px;
    margin: -4px 0px;
    border-radius: 20px;
}

.shadoww{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
